@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-link: aqua;
    --color-hover-link: #fff;
    --color-info-title: #14ff00;
    --color-bac-product: rgba(22, 20, 80, 0.9);
    --transition-time-hover-link: 0.3s;
    --font-family: 'Montserrat', sans-serif;
    --border-radius: 20px;
    --color-error: red;
}

body {
    font-size: 16px;
    font-family: var(--font-family);
    color: #fff;
    letter-spacing: 1px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    border: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
